<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频仓库</title>
    <script src="libs/axios.min.js"></script>
    <script src="scripts/crud.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style type="text/css">
        html, body{
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-main>
                <el-tabs>
                    <el-tab-panel label="仓库" name="warehouse">

                    </el-tab-panel>

                    <el-tab-panel label="视频" name="video">

                    </el-tab-panel>
                </el-tabs>
            </el-main>
        </el-container>

        <el-dialog title="仓库管理" width="80%" :visible.sync="showWarehouse">
            <el-button type="primary" @click="showAddWarehouse=true">新增</el-button>
            <el-table :data="warehouses" style="width: 100%;">
                <el-table-column prop="name" label="仓库名称" width="180"></el-table-column>
                <el-table-column prop="path" label="地址"></el-table-column>
                <el-table-column prop="videoCount" label="文件数量" width="180"></el-table-column>
            </el-table>
        </el-dialog>

        <el-dialog title="新增仓库" width="60%" :visible.sync="showAddWarehouse" modal="false">
            <el-form ref="form" :model="warehouse">
                <el-form-item label="仓库名称" >
                    <el-input v-model="warehouse.name" placeholder="名称不可重复"></el-input>
                </el-form-item>
                <el-form-item label="仓库路径" >
                    <el-input v-model="warehouse.path" placeholder="请填写本地目录"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="showAddWarehouse=false">取消</el-button>
                <el-button type="primary" @click="saveWarehouse" loading="isloading">保存</el-button>
            </span>
        </el-dialog>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                warehouse: {},
                showAddWarehouse: false,
                showWarehouse: false,
                isloading: false
            },
            methods: {
                handleSelect: function (key, keyPath) {
                    console.log("key = " , key, "keyPath = ", keyPath)
                    this.tabUrl = tabUrls[parseInt(key)-1]
                },
                saveWarehouse: function() {

                }
            },
            mounted: function(){

            }
        })
    </script>
</body>
</html>